@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #252525;
}

.container {
  width: 100%;
  max-width: 1262px;
  margin: 0 auto;
}

section {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 2fr 1fr;
  align-content: center;
}

.banner {
  width: 100%;
  height: 840px;
  background-color: rgb(52, 71, 33);
  border-radius: 20px 0 0 20px;
}

.banner img {
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 20px;
}

.login {
  width: 100%;
  height: 840px;
  background-color: rgb(255, 255, 255);
  border-radius: 0 20px 20px 0;
}

.login img {
  display: flex;
  width: 75%;
  max-width: 331px;
  margin: 10% auto;
}


form input {
  display: flex;
  width: 75%;
  height: 70px;
  margin: 8% auto;
  text-align: center;
  border-radius: 20px;
  background-color: whitesmoke;
}

input:hover {
  box-shadow: 0 0 7px #227CCE;
}

form button {
  display: flex;
  width: 75%;
  height: 50px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: white;
  border-radius: 15px;
  background-color: #E01212;
  cursor: pointer;
}

a {
  display: block;
  text-align: center;
  margin: 20px auto;
  color: #227CCE;
}

/* MOBILE */
@media (max-width: 1260px){

  body {
    background-image: url('../assets/img-escura.png');
    background-position: center;
  }

  .container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  section {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    align-content: center;
  }

  .banner {
    display: none;
  }

  .login {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
  }

}
